{% extends 'base-admin.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="d-grid gap-2 col-6 mx-auto">
		{# <button class="btn btn-primary" type="button"></button> #}
		{# <a class="btn btn-primary" href="{{path('list_category')}}">Gérer les categories</a>
		 #}
		{# <button class="btn btn-primary" type="button"></button> #}
		{# <a class="btn btn-primary" href="{{path('list_product')}}">Gérer les Produits</a> #}
			<div class="example-wrapper"> <div class="container">

				<h2>Administrateur</h2>
				<div id="carouselExampleIndicators" class="carousel slide">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="https://img.freepik.com/photos-gratuite/vue-dessus-delicieuse-tarte-aux-fraises-tasse-the-macarons-rose_140725-78405.jpg?ga=GA1.1.489367727.1733736298&semt=ais_hybrid" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="https://img.freepik.com/photos-gratuite/gateau-mariage-petits-gateaux_1232-1832.jpg?ga=GA1.1.489367727.1733736298&semt=ais_hybrid." class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="https://img.freepik.com/photos-gratuite/vue-dessus-du-gateau-au-chocolat-aux-myrtilles_23-2148689788.jpg?t=st=1742239789~exp=1742243389~hmac=ada42dbdcca2d787eef0f5d1447be0ce72d2143fea30cb39d407e439401791a5&w=1380" class="d-block w-100" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
