<footer>

<div class="card text-center bg-light ">
  <div class="card-header">
    @SIMPLON
  </div>
  <div class="card-body">
    <h5 class="card-title">Marina and Anais</h5>
    <p class="card-text">Le 14 mars 2025</p>
    {# <a href="#" class="btn btn-warning">Go somewhere</a> #}
  </div>
  <div class="card-footer text-body-secondary">

  </div>
</div>
	
</footer>
